## Import Iris Dataset

In [2]:
import pandas as pd

df = pd.read_csv('../Dataset/Iris.csv')

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

## Delete Unused Column

In [3]:
df = df.drop(columns = ['Id'])

df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

## Split Data Sets

In [4]:
X = df[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm' ]]
y = df['Species']
 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=123)

## Import and Train Decision Tree (DT) Model

In [5]:
from sklearn.tree import DecisionTreeClassifier
 
tree_model = DecisionTreeClassifier() 
 
tree_model = tree_model.fit(X_train, y_train)

## Test the Model Accuracy: Comparing prediction data (y_pred) with testing data (y_test)

In [6]:
from sklearn.metrics import accuracy_score
 
y_pred = tree_model.predict(X_test)
 
acc_score = round(accuracy_score(y_pred, y_test), 3)
 
print('Accuracy: ', acc_score)

Accuracy:  0.933

## Test the Model Accuracy (Alternate Method): see the accuracy score based on testing data (X_test and y_test)

In [7]:
acc_score2 = tree_model.score(X_test, y_test)

print(acc_score2)

0.9333333333333333

## Make predictions on new data outside the dataset (Forecasting)

In [8]:
print(tree_model.predict([[6.2, 3.4, 5.4, 2.3]])[0])

Iris-virginica

C:\Users\azhar\anaconda3\envs\tf_gpu\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

## Create the visualizations with .dot extension file output. After that, convert it to .png manually on the internet

In [9]:
from sklearn.tree import export_graphviz
export_graphviz(
    tree_model,
    out_file = "iris_DT.dot",
    feature_names = ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'],
    class_names = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica' ],
    rounded= True,
    filled =True)